:root {
  --black: #191919;
  --green: #00ff97;
  --grey: #8a8a8a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
button {
  all: unset;
}

body {
  background-color: var(--black);
  color: var(--grey);
  font-size: 16px;
  font-family: "Agency FB", arial;
}
.days {
  margin: 0 auto;

  margin-top: 200px;
  width: 50%;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
li {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.clock {
  margin: 0 auto;
  margin-top: 2rem;
  color: var(--green);
  width: 60%;
  font-size: 10rem;
  text-align: center;
}
.clock-format {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  cursor: pointer;
}
.green {
  color: var(--green);
}
input {
  all: unset;
}
@media (max-width: 1199px) {
  html {
    font-size: 0.8rem;
  }
  .days {
    width: 60%;
  }
  .clock-format {
    width: 25%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 0.8rem;
  }
  .days {
    width: 75%;
  }
  .clock-format {
    width: 25%;
  }
  .clock {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    font-size: 3rem;
  }
  .clock-format {
    flex-direction: column;
    font-size: 3rem;
    width: 90%;
    text-align: end;
  }
  .twenty-four-hour {
    margin-top: 2rem;
  }
}
.days {
  margin-top: 150px;
}
